/*This is the styles for handling the interface of the web-calculator.
#@BigNameZ is responsible for this section styles.css
*/

form {
    background-size: 50px 50px;
    background-color: rgb(60, 127, 127);
    height: 400px;
    width: 220px;
    padding: 3%;

}
input[type="button"]{
margin: 1%;
height: 49px;
width: 47px;
font-size: 20px;
margin-top: 15px;
color: rgb(20, 2, 2);
background-color: rgb(186, 158, 158);
border-color:rgb(96, 48, 35);
}
#screen{
    height: 50px;
    width: 210px;
    border-color:rgb(133, 55, 34);
    font-size: 20px;
}

#eual-btn {
    margin-bottom: -1000%;
    margin-top: -1000%;
    height: 115px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}